@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lope;
  src: url("./../public/Fonts/lope.otf");
}
@font-face {
  font-family: melody;
  src: url("./../public/Fonts/Melody.ttf");
}
